/* font  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #292929;
  overflow-x: hidden;
}

input::placeholder {
  color: #c6c6c6;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* button 공통 */
button.btnActive {
  background: #2e92ff;
  color: #17171b;
}

button.btnDisable {
  background: #313139;
  color: #fff;
}
