/* font  */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap");

@font-face {
  font-family: "SpoqaHanSansNeo-Light";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Light.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SpoqaHanSansNeo-Bold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Bold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Noto Sans KR", sans-serif;
  width: 100%;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.6px;
  color: #292929;
  overflow-x: hidden;
}

input::placeholder {
  color: #eee;
  font-size: 14px;
}

.clear:after {
  content: "";
  display: block;
  clear: both;
}

/* button 공통 */
.btn.btn-primary {
  font-size: 14px;
}

button.btnActive {
  color: #fff;
  background-color: #4042d7;
  border-color: #4042d7;
}

button.btnDisable {
  background: #313139;
  border-color: #313139;
  color: #fff;
}

button.btnDisable:hover {
  background-color: #313139;
  border-color: #313139;
}

button.btnDisable:active {
  background: #313139;
  border-color: #313139;
}

.content {
  background-color: #f9f9f9;
  padding: 20px;
  min-height: 100vh;
}
#card {
  border: none;
  background-color: #fff;
  border-radius: 8px;
}

h2.title {
  font-size: 24px;
  color: #292929;
  font-weight: 500;
  margin-bottom: 16px;
}

.datePickerWrap {
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}

input#datePicker {
  width: 20%;
  height: 30px;
  display: inline-block;
  font-size: 15px;
  margin-left: 8px;
}

.searchWrap {
  display: flex;
  align-items: center;
}

.searchWrap .selectBox {
  width: 120px;
  height: 35px;
  margin-right: 16px;
  font-size: 14px;
}

input#searchInput {
  height: 35px;
}

.searchForm {
  display: flex;
  width: 480px;
}

.serchBtn {
  width: 62px;
  height: 35px;
  font-size: 14px;
  font-family: "Noto Sans KR", sans-serif;
}

.listHeader {
  margin-top: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.listHeader p > span {
  color: #9e9e9e;
  display: inline-block;
  margin-left: 4px;
}

.listHeader p span.searchNum {
  font-weight: 500;
  margin-left: 4px;
}

.listModify button#del {
  margin-left: 8px;
}

.listWrap {
  margin-top: 16px;
  position: relative;
}

.delPopup .modal-header {
  border-bottom: none;
}

.delPopup .modal-footer {
  border-top: none;
}

.delPopup .modal-content {
  border: none;
}

#pagenation {
  justify-content: center;
}

#pagenation .page-link {
  border: none;
  color: #9e9e9e;
  font-size: 14px;
  font-family: "SpoqaHanSansNeo-Regular";
  padding: 4px 8px;
}

#pagenation .page-link:hover,
#pagenation .page-link:active {
  background-color: transparent;
  text-decoration: underline;
}

table tr th {
  color: #8b8b8b;
  font-weight: 400;
}

.table > :not(:first-child) {
  border: none;
}

table thead tr {
  border-bottom: 1px solid #e6e6e6;
}

table tbody tr {
  border-bottom: 1px solid #e6e6e6;
  cursor: pointer;
}

table tbody tr:last-child {
  border-color: #fff;
}

table thead tr th:not(:first-child),
table tbody tr td:not(:first-child) {
  text-align: center;
}

.nonSearchWrap {
  text-align: center;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: none;
}
